{% extends 'base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'library/style.css' %}">
{% endblock %}


{% block content %}
   
    {% if website %}
    
    <div>
        {{ website.cover }}
    </div>

    <div>
        <table>
            <tr>
                <th>Title</th>
                <td>{{ website.title }}</td>
            </tr>
            <tr>
                <th>About</th>
                <td>{{ website.about }}</td>
            </tr>
            <tr>
                <th>Youtube Link</th>
                <td><a href="{{ website.urllink }}" target="_blank">{{ website.urllink }}</a></td>
            </tr>
            <tr>
                <th></th>
                <td>좋아요를 누르면 마이페이지에 저장됩니다</td>
            </tr>
        </table>
    </div>
   
    {% endif %}

    <a href="{% url 'library:websitesindex' %}">목록으로</a>


{% endblock %}