{% extends 'base.html' %}

{% load static %}


{% block style %}
<link rel="stylesheet" href="{% static 'mainpage/style.css' %}">
{% endblock %}



{% block content %} 

<div class="explanation">
    <ul class="explanation-list">
        <li class="explanation-list-detail">✨ 엄빠표 영어는 <span id="text"> </span> 이 아닙니다</li>
        <li class="explanation-list-detail">✨ 엄빠표 영어는 <span id="text1"> </span> 의 반댓말이며</li>
        <li class="explanation-list-detail">✨ 아이가 학습 독립을 할 때 까지 <span id="text2"> </span></li>
        <li class="explanation-list-detail">✨<span id="text3"></span> 자연스런 영어습득환경을 만들어줍니다</li>
    </ul>
    <img id="main-image" src="{% static 'mainpage/images/parenting3.jpg' %}" alt="parentspicture">
</div>


<script type="text/javascript">
    
    var i=0, j=0, k=0, l=0, text, text1, text2, text3;
    text = " '학원표 반대' & '엄마표 학원'"
    text1 = " '방치표 육아' "
    text2 = " '꾸준히 기다리고 관찰하며' "
    text3 = " '영어원서와 영상물으로' "

    function typing(callback){
        if(i<text.length){
            document.getElementById("text").innerHTML += text.charAt(i);
            i++;
            setTimeout(typing, 100);
        }
    }

    function typing1(){
        if(j<text1.length){
            document.getElementById("text1").innerHTML += text1.charAt(j);
            j++;
            setTimeout(typing1, 100);
        }
    }

    function typing2(){
        if(k<text2.length){
            document.getElementById("text2").innerHTML += text2.charAt(k);
            k++;
            setTimeout(typing2, 100);
        }
    }

    function typing3(){
        if(k<text3.length){
            document.getElementById("text3").innerHTML += text3.charAt(l);
            l++;
            setTimeout(typing3, 100);
        }
    }

    typing();
    typing1();
    typing2();
    typing3();

</script>






{% endblock %} 


</body>

</html>