{% extends 'base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'library/style.css' %}">
{% endblock %}


{% block content %}

    {% if video %}
    
    <div>
        {{ video.cover }}
    </div>

    <div>
        <table>
            <tr>
                <th>Title</th>
                <td>{{ video.title }}</td>
            </tr>
            <tr>
                <th>About</th>
                <td>{{ video.about }}</td>
            </tr>
            <tr>
                <th>Youtube Link</th>
                <td><a href="{{ video.urllink }}" target="_blank">{{ video.urllink }}</a></td>
            </tr>
            <tr>
                <th></th>
                <td>좋아요를 누르면 마이페이지에 저장됩니다</td>
            </tr>
        </table>
    </div>
   
    {% endif %}

    <a href="{% url 'library:videosindex' %}">목록으로</a>

{% endblock %}