{% extends 'base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'library/style.css' %}">
{% endblock %}

{% block content %} 
    <div class="recommendation">
        <div class="levels">

            <div class="level0">
                <h3 id="level-0">{{ levels.0 }}</h3>
                
                <div class="books_in_row">
                    <table>
                        <tr>
                            {% for book1 in book1 %}
                            <td>
                                <div class="eachbook">
                                    <a href="{% url 'library:bookdetail' book1.id %}"><img src="{{ book1.cover.url }}" width="150px" height="180px" onmouseenter="zoomIn(event)"
                                        onmouseleave="zoomOut(event)"></a>
                                </div>
                            </td>
                            {% endfor %}
                        </tr>
                         
                    </table>     
                </div>
                
            </div>

            <div class="level1">
                <h3 id="level-1">{{ levels.1 }}</h3>
                
                <div class="books_in_row">
                    <table>
                        <tr>
                            {% for book2 in book2 %}
                            <td>
                                <div class="eachbook">
                                <a href="{% url 'library:bookdetail' book2.id %}"><img src="{{ book2.cover.url }}" width="150px" height="180px" onmouseenter="zoomIn(event)"
                                    onmouseleave="zoomOut(event)"></a>
                                </div>
                            </td>
                            {% endfor %}                    
                        </tr>
                    </table>
                </div>
            </div>
            
            
            <div class="level2">
                <h3 id="level-2">{{ levels.2 }}</h3>

                <div class="books_in_row">
                    <table>
                        <tr>
                            {% for book3 in book3 %}
                            <td>
                                <div class="eachbook">
                                <a href="{% url 'library:bookdetail' book3.id %}"><img src="{{ book3.cover.url }}" width="150px" height="180px" onmouseenter="zoomIn(event)"
                                    onmouseleave="zoomOut(event)" ></a>
                                </div>
                            </td>
                            {% endfor %}                    
                        </tr>
                    </table>
                </div>
            </div>
            

            <div class="level3">
                <h3 id="level-3">{{ levels.3 }}</h3>

                <div class="books_in_row"> 
                    <table>
                    <tr>
                        {% for book4 in book4 %}
                        <td>
                            <div class="eachbook">
                            <a href="{% url 'library:bookdetail' book4.id %}"><img src="{{ book4.cover.url }}" width="150px" height="180px" onmouseenter="zoomIn(event)"
                                onmouseleave="zoomOut(event)"></a>
                            </div>
                        </td>
                        {% endfor %}                    
                    </tr>
                    </table>
                </div>
                
            </div>


            <div class="level4">
                <h3 id="level-4">{{ levels.4 }}</h3>

                <div class="books_in_row">
                    <table>
                        <tr>
                            {% for book5 in book5 %}
                            <td>
                                <div class="eachbook">
                                <a href="{% url 'library:bookdetail' book5.id %}"><img src="{{ book5.cover.url }}" width="150px" height="180px" onmouseenter="zoomIn(event)"
                                    onmouseleave="zoomOut(event)"></a>
                                </div>
                            </td>
                            {% endfor %}                    
                        </tr>
                    </table>
                </div>
            </div>


            <div class="level5">
                <h3 id="level-5">{{ levels.5 }}</h3>

                <div class="books_in_row">
                    <table>
                    <tr>
                        {% for book6 in book6 %}
                        <td>
                            <div class="eachbook">
                            <a href="{% url 'library:bookdetail' book6.id %}"><img src="{{ book6.cover.url }}" width="150" height="180" onmouseenter="zoomIn(event)"
                                onmouseleave="zoomOut(event)"></a>
                            </div>
                        </td>
                        {% endfor %}                    
                    </tr>
                    </table>
                </div>
            </div>
    
        </div>
    </div>


    <script>
        function zoomIn(event) {
          event.target.style.width = "210px";
          event.target.style.height = "210px";
          event.target.style.transition = "all 0.5s";
        }
      
        function zoomOut(event) {
          event.target.style.width = "150px";
          event.target.style.height = "180px";
          event.target.style.transition = "all 0.5s";
        }
    </script>

{% endblock %}