{% extends 'base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'library/style-videodetail.css' %}">
{% endblock %}


{% block content %}

    {% if video %}
    
    <div class="video-detail">
        <div class="image-detail">
            <img src="{{ video.cover.url }}" width="350" height="350">
        </div>
    
        <div class="video-descriptions">
        <table>
            <div class="title">
                <tr>
                    <th>🖥️ Title</th>
                    <td>{{ video.title }}</td>
                </tr>    
            </div>

            <div class="about">
                <tr>
                    <th>🖥️ About</th>
                    <td>{{ video.about }}</td>
                </tr>
            </div>
                
            <div class="link">
                <tr>
                    <th>🖥️ Youtube</th>
                    <td><a href="{{ video.urllink }}" target="_blank">{{ video.urllink }}</a></td>
                </tr>    
            </div>

            <div class="like">
                <tr>
                    <th>🖥️ 좋아요</th>
                    <td>
                        {% if user.is_authenticated %}
                            <form method="POST" action="{% url 'library:videolike' video.id %}">
                            {% csrf_token %}
        
                            {% if user in video.liked_users.all %}
                                <button type="submit" class="btn btn-primary">LIKE</button>
                            {% else %}
                                <button type="submit" class="btn btn-secondary">LIKE</button>
                            {% endif %}
                            </form>
                        {% endif %}
                    </td>
                </tr> 
            </div>

            <div class="list">
                <tr>
                    <th></th>
                    <td><a href="{% url 'library:videosindex' %}">목록으로</a></td>
                </tr>
            </div>
        
            </table>
            </div>
       
        {% endif %}
   
    </div>


{% endblock %}