{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'posts/style.css' %}">
    <title>Mangostagram</title>
</head>

<body>
    <h1>Posts</h1>
    {%if posts%}
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>작성자</th>
                <th>본문</th>
                <th>게시일</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.author }}</td>
                <td>{{ post.body }}</td>
                <td>{{ post.date }}</td>        
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <table>
        <p> NO POSTS </p>
    </table>

    {% endif %}
</body>
</html>