{% extends 'base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'library/style.css' %}">
{% endblock %}


{% block content %}

    <div class="recommendation">
        <div class="levels">
            <div class="level0">
                <h3>{{ levels.0 }}</h3>
            
                <table>
                    <tr>
                        {% for website1 in website1 %}
                        <td>
                            <a href="{% url 'library:websitedetail' website1.id %}"><img src="{{ website1.cover.url }}" width="150px" height="180px" onmouseenter="zoomIn(event)"
                                onmouseleave="zoomOut(event)"></a>
                        </td>
                        {% endfor %}
                    </tr>
                </table>
            </div>

            <div class="level1">
                <h3>{{ levels.1 }}</h3>
                
                <table>
                    <tr>
                        {% for website2 in website2 %}
                        <td>
                            <a href="{% url 'library:websitedetail' website2.id %}"></a>
                        </td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
            

            <div class="level1">
                <h3>{{ levels.2 }}</h3>
                
                <table>
                    <tr>
                        {% for website3 in website3 %}
                        <td>
                            <a href="{% url 'library:websitedetail' website3.id %}"></a>
                        </td>
                        {% endfor %}
                    </tr>
                </table>
            </div>

        </div>

    </div>


{% endblock %}