{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'library/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&family=Poor+Story&family=Sunflower:wght@300;500&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    
    <div class="header">
        <h1 class="section-title">엄빠표 영어</h1>
        <div class="section-subtitle-bar">
            <div>
                <h2 class ="section-subtitle">내 아이를 영어로 부터 방치하고 싶지 않다면</h2>       
            </div>
            <div>
                <ul class="navbar">
                    <li class="navbar-list-detail"><a href="library/books/">레벨별 원서 추천</a></li>
                    <Li class="navbar-list-detail"><a href="library/videos/"> 영어 영상물 추천</a></Li>
                    <li class="navbar-list-detail"><a href="library/websites/">도서 및 사이트 추천</a></li>
                    <li class="navbar-list-detail"><span class="login"><a href="login/">로그인/회원가입</a></span></li>
                </ul>    
            </div>
        </div>
    </div>

    <div class="recommendation">
        <div class="levels">
            <div class="level0">
                <h3>{{ levels.0 }}</h3>
                <ul class="books_in_row">
                    {% for book in books %}
                    <li><img src="{{ book.bookimages.url }}" class="bookimage-top" alt="{{ book.title }}">
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="level1">
                <h3>{{ levels.1 }}</h3>
                <ul class="books_in_row">
                    {% for book in books %}
                    <li>{{ book.cover }}</li>
                    {% endfor %}
                </ul>
            </div>
            
            <div class="level2">
                <h3>{{ levels.2 }}</h3>
                <ul class="books_in_row">
                    {% for book in books %}
                    <li>{{ book.cover }}</li>
                    {% endfor %}
                </ul>
            </div>
            
            <div class="level3">
                <h3>{{ levels.3 }}</h3>
                <ul class="books_in_row">
                    {% for book in books %}
                    <li>{{ book.cover }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="level4">
                <h3>{{ levels.4 }}</h3>
                <ul class="books_in_row">
                    {% for book in books %}
                    <li>{{ book.cover }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="level5">
                <h3>{{ levels.5 }}</h3>
                <ul class="books_in_row">
                    {% for book in books %}
                    <li>{{ book.cover }}</li>
                    {% endfor %}
                </ul>
            </div>

    </div>
    
</body>
</html>