{% extends 'base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'library/style-bookdetail.css' %}">
{% endblock %}


{% block content %}
   
    {% if website %}
    
    <div class="book-detail">
        <div class="image-detail">
            <img src="{{ website.cover.url }}" width="350" height="350">   
        </div>

    <div class="book-descriptions">
        <table>
            <div class="title">
            <tr>
                <th>ℹ️ Title</th>
                <td>{{ website.title }}</td>
            </tr>
            </div>

            <div class="about">
            <tr>
                <th>ℹ️ About</th>
                <td>{{ website.about }}</td>
            </tr>
            </div>

            <div class="link">
            <tr>
                <th>ℹ️ Youtube</th>
                <td><a href="{{ website.urllink }}" target="_blank">{{ website.urllink }}</a></td>
            </tr>
            </div>

            <div class="like">
            <tr>
                <th>ℹ️ 좋아요</th>
                <td>
                    {% if user.is_authenticated %}
                        <form method="POST" action="{% url 'library:websitelike' website.id %}">
                        {% csrf_token %}

                        {% if user in website.liked_users.all %}
                            <button type="submit" class="btn btn-primary">LIKE</button>
                        {% else %}
                            <button type="submit" class="btn btn-secondary">LIKE</button>
                        {% endif %}
                        </form>
                    {% endif %}
                </td>
            </tr>
            </div>

            <div class="list">
                <tr>
                    <th></th>
                    <td><a href="{% url 'library:websitesindex' %}">목록으로</a></td>
                </tr>
            </div>

        </table>
        </div>
   
    {% endif %}

    </div>


{% endblock %}