{% extends 'base.html' %}

{% load static %}


{% block style %}
<link rel="stylesheet" href="{% static 'library/style-bookdetail.css' %}">
{% endblock %}


{% block content %} 
<div class="container">
    {% if book %}
    
   <div class="book-detail">
        <div>
            <img src="{{ book.cover.url }}" width="350" height="350">
        </div>

        <div>
        <table>
            <tr>
                <th>Title</th>
                <td>{{ book.title }}</td>
            </tr>
            <tr>
                <th>About</th>
                <td>{{ book.about }}</td>
            </tr>
            <tr>
                <th>Youtube Link</th>
                <td><a href="{{ book.urllink }}" target="_blank">{{ book.urllink }}</a></td>
            </tr>
            <tr>
                <th>좋아요를 누르면 마이페이지에 저장됩니다</th>
                <td>
                    {% if user.is_authenticated %}
                        <form method="POST" action="{% url 'library:booklike' book.id %}">
                        {% csrf_token %}

                        {% if user in book.liked_users.all %}
                            <button type="submit" class="btn btn-primary">LIKE</button>
                        {% else %}
                            <button type="submit" class="btn btn-secondary">LIKE</button>
                        {% endif %}
                        </form>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th></th>
                <td><a href="{% url 'library:booksindex' %}">목록으로</a></td>
            </tr>
        </table>
        </div>
   
    {% endif %}

   </div>

</div>
    

{% endblock %}