{% extends 'base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'library/style.css' %}">
{% endblock %}


{% block content %}

    {% if video %}
    
    <div>
        {{ video.cover }}
    </div>

    <div>
        <table>
            <tr>
                <th>Title</th>
                <td>{{ video.title }}</td>
            </tr>
            <tr>
                <th>About</th>
                <td>{{ video.about }}</td>
            </tr>
            <tr>
                <th>Youtube Link</th>
                <td><a href="{{ video.urllink }}" target="_blank">{{ video.urllink }}</a></td>
            </tr>
            <tr>
                <th>좋아요를 누르면 마이페이지에 저장됩니다</th>
                <td>
                    {% if user.is_authenticated %}
                        <form method="POST" action="{% url 'library:videolike' video.id %}">
                        {% csrf_token %}

                        {% if user in video.liked_users.all %}
                            <button type="submit" class="btn btn-primary">LIKE</button>
                        {% else %}
                            <button type="submit" class="btn btn-secondary">LIKE</button>
                        {% endif %}
                        </form>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
   
    {% endif %}

    <a href="{% url 'library:videosindex' %}">목록으로</a>

{% endblock %}