{% extends 'base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'library/style.css' %}">
{% endblock %}


{% block content %}

    <div class="recommendation">
        <div class="levels">
            <div class="level0">
                <h3>{{ levels.0 }}</h3>
            
                <table>
                    <tr>
                        {% for video1 in video1 %}
                        <td>
                            <a href="{% url 'library:videodetail' video1.id %}">비디오사진</a>
                            <a>{{ video1.title }}</a>
                        </td>
                        {% endfor %}
                    </tr>
                </table>
            </div>

            <div class="level1">
                <h3>{{ levels.1 }}</h3>
                
                <table>
                    <tr>
                        {% for video2 in video2 %}
                        <td>
                            <a href="{% url 'library:videodetail' video2.id %}">비디오사진</a>
                            <a>{{ video2.title }}</a>
                        </td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
            

            <div class="level1">
                <h3>{{ levels.2 }}</h3>
                
                <table>
                    <tr>
                        {% for video3 in video3 %}
                        <td>
                            <a href="{% url 'library:videodetail' video3.id %}">비디오사진</a>
                            <a>{{ video3.title }}</a>
                        </td>
                        {% endfor %}
                    </tr>
                </table>
            </div>

        </div>

    </div>
    
{% endblock %}