{% extends 'base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'library/style.css' %}">
{% endblock %}

{% block content %} 

    <div class="recommendation">
        <div class="levels">

            <div class="level0">
                <h3>{{ levels.0 }}</h3>
            
                <table>
                    <tr>
                        {% for book1 in book1 %}
                        <td>
                            <a href="{% url 'library:bookdetail' book1.id %}"><img src="{{ book1.cover.url }}" width="150" height="150"></a>
                            <a>{{ book1.title }}</a>
                        </td>
                        {% endfor %}
                    </tr>
                </table>
            </div>

            <div class="level1">
                <h3>{{ levels.1 }}</h3>
                
                <table>
                    <tr>
                        {% for book2 in book2 %}
                        <td>
                            <a href="{% url 'library:bookdetail' book2.id %}"><img src="{{ book2.cover.url }}" width="150" height="150"></a>
                            <a>{{ book2.title }}</a>
                        </td>
                        {% endfor %}                    
                    </tr>
                </table>
            </div>
            
            
            <div class="level2">
                <h3>{{ levels.2 }}</h3>
               
            </div>
            
            <div class="level3">
                <h3>{{ levels.3 }}</h3>
                
            </div>

            <div class="level4">
                <h3>{{ levels.4 }}</h3>
                
            </div>

            <div class="level5">
                <h3>{{ levels.5 }}</h3>
                
            </div>
    </div>

{% endblock %}