* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.resume {
    display: flex;
}

.navbar {
    width: 280px;
    height: 100vh;
    background-color: #ffb24b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Staatliches', cursive;
}

#navimage {
    width: 192px;
    height:192px;
    border-radius: 50%;
    border: 6px solid #ffeacd;
    margin-bottom: 16px;
}

.resume-links {
    list-style-type: none;
}

.resume-link {
    font-size: 19px;
    font-weight: bolder;
    padding: 12px 0px;
}

a {
    text-decoration: none;
}

.resume-link-text{
    color: white;
}

.resume-sections {
    width: calc(100%-280px);
    height: 100vh;
    overflow: scroll;
}

.resume-section {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

h1{
    font-size: 96px;
    font-weight: bolder;
    margin-bottom: 32px;
    text-align: left;
    font-family: 'Staatliches', cursive;
}

.first-name {
    color: #ffb24b;;
}