*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

a{
    text-decoration-line: none;
    color: #4F4D4F;
}

ul{
    list-style: none;
}


.header {
    display: flex;
    flex-direction: column;
    height: 10vw;
    width: 100vw;
    padding: 20px 20px;
}

.section-title {
    font-size: 35px;
    color: #3F675A;
    font-family: 'Do Hyeon', sans-serif;
}

.section-subtitle-bar{
    display: flex;
    justify-content: space-between;
}

.section-subtitle{
    font-size: 18px;
    color: #7FABA7;
    font-family: 'Do Hyeon', sans-serif;
    width: 38%;
    white-space: nowrap;
}

.navbar{
    display: flex;
    font-family: 'Do Hyeon', sans-serif;
    color: #4F4D4F;
    list-style-type: none;
    align-items: flex-start;
    justify-content: center;
}

.navbar-list-detail{
    justify-content: space-between;
    font-size: 20px;
    margin-right:0px;
    padding: 0px 14px;
    height: 100%;
}

.login{
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background-color: #7FABA7;
    font-size: 20px;
    color: white;
}
